.heroContainer1 {
  background: #000000;
  height: 100vh;
  width: 100%;
}

.abouth2 {
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
}

.abouth4 {
  color: #4d4d4db7;
  text-align: center;
  margin-bottom: 30px;
}

.aboutP {
  font-size: 18px;
  padding-left: 100px;
  padding-right: 100px;
  color: #ffffff;
  text-align: center;
}
