.timeline-container {
  margin-top: 2em;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
}

.timeline-header {
  text-align: center;
  color: #000;
}

.vertical-timeline-element-title {
  color: #01bf71;
}

.vertical-timeline-element-subtitle {
  color: #a1a1a1;
  font-size: medium;
}

.vertical-timeline-element--work {
  cursor: pointer;
}
