.nav {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.navLogo {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}

.mobileIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

@media screen and(max-width: 768px) {
  .navMenu {
    display: none;
  }
}

.navItem {
  height: 80px;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.navLinks:active {
  border-bottom: 3px solid #01bf71;
}

.navBtn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navBtn {
    display: none;
  }
}

.navBtnLink {
  border-radius: 50px;
  background-color: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
