.nav {
  background: rgba(0, 0, 0, 0.795);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 90%;
}

.navLogo {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  margin-top: 13px;
}

.navLogoImg {
  width: 50px;
  margin-right: 0.5em;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navItem {
  height: 80px;
}

.mobileIcon {
  margin-top: 20px;
  color:#fff;
  cursor: pointer;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.navLinks:active {
  border-bottom: 3px solid #01bf71;
}

.navBtn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navMenu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobileIcon {
    display: none;
  }
}

.navBtn {
  border-radius: 50px;
  background-color: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  margin-top: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navBtn:hover {
  background: #116843;
  color: #fff;
  text-decoration: none;
}
