.heroContainer {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 ;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  text-align: center;
}

.image {
  height: auto;
  margin: 20px;
  padding: 20px;
  width: 40vw;
}

.heroContent {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px, 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroH1 {
  font-size: 48px;
  align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .heroContainer {
    margin-bottom: 60px;
  }

  .image {
    height: auto;
    margin: 20px;
    padding: 20px;
    width: 50vw;
  }

  .heroH1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .a1{
    color: #010606;
    text-align: center;
    margin-right: 0;
    margin-left: 70px;
  }
}

.a1{
  color: #010606;
  margin-right: 70px;
}
/* 
@media screen and (max-width: 480) {
  .heroH1 {
    font-size: 32px;
  }
} */

.heroP {
  margin-top: 24px;
  font-size: 24px;
  max-width: 600px;
  align-items: center;
}
/* 
@media screen and (max-width: 768px) {
  .heroP {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .heroP {
    font-size: 18px;
  }
} */

.heroBtnWrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .button {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
} */
.button {
  border-radius: 50px;
  background-color: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  background: #010606;
  color: #fff;
}