.user-container {
  width: 1000px;
  padding-bottom: 10em;
}

.user-header {
  color: #01bf71;
  padding-left: 1em;
}

.user-table {
  padding-left: 2em;
  padding-bottom: 50vh;
}

.table-header {
  width: "100%";
  background-color: #01bf71;
}

@media (max-width: 768px) {
  .user-table {
    padding-right: 2em;
  }
}