  .overview-header {
    color: #01bf71;
    padding-left: 1em;
    margin-bottom: 1em;
  }

  .overview-container-grid {
      margin-left: 2em;
      margin-bottom: 2em;
      margin-right: 1em;
  }

  .grid-item {
      background-color: #ccedd5;
      height: 230px;
      width: 500px;
      margin-bottom: 1em;
  }

  @media (max-width: 500px) {
    .grid-item {
        background-color: #ccedd5;
        height: 230px;
        width: 400px;
        margin-bottom: 1em;
    } 
  }

  .grid-item-top-right {
      border-top-right-radius: 25px;
  }

  .grid-item-top-left {
      border-top-left-radius: 25px;
  }

  .grid-item-bottom-right {
      border-bottom-right-radius: 25px;
  }

  .grid-item-bottom-left {
      border-bottom-left-radius: 25px;
  }

  .stats-text {
      margin-top: 2em;
      color: #01bf71;
      text-align: center;
  }

  .stats-value {
      color: '#000';
      text-align: center;
  }